.cart_main{
    display: flex;
    flex-direction: column;
    .cart_items{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #000000;
        .cart_delete{
            cursor: pointer;
            color: red;
            font-size: 16px;
            font-weight: 600;
        }
        .cart_image{
            width: 120px;
            height: 140px;
        }
        .cart_name{
            width: 400px;
            color: #3A3845;
            font-size: 16px;
            font-weight: 600;
        }
        .cart_price{
            width: 180px;
            font-size: 14px;
            font-weight: 600;
            color: #3A3845;
        }
    }
}